<div class="container mt-5">
  <h2>Add New Book</h2>
  <form class="row g-3" (submit)="addBook()">
    <div class="col-md-6">
      <label for="inputTitle" class="form-label">Book Title</label>
      <input type="text" class="form-control" id="inputTitle" [(ngModel)]="bookData.bookname" name="title" required />
    </div>
    <div class="col-md-6">
      <label for="inputAuthor" class="form-label">Author</label>
      <input type="text" class="form-control" id="inputAuthor" [(ngModel)]="bookData.author" name="author" required />
    </div>
    <div class="col-md-6">
      <label for="inputCount" class="form-label">Count</label>
      <input type="number" class="form-control" id="inputCount" [(ngModel)]="bookData.count" name="count" required />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add Book</button>
    </div>
  </form>
</div>
