<div class="container mt-5">
    <h2>Login</h2>
    <form class="row g-3" (submit)="onLogin()">
      <div class="col-md-6">
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputUsername" [(ngModel)]="loginData.username" name="username" required />
      </div>
      <div class="col-md-6">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" [(ngModel)]="loginData.password" name="password" required />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
  